# Flask==2.2.2
# Flask-SQLAlchemy==3.0.5
# pandas==1.5.3
# scikit-learn==1.2.2
# joblib==1.2.0
# sqlalchemy
# mysql-connector-python
Flask>=2.2.5,<3
Flask-SQLAlchemy>=3.0.5,<4
pandas==1.5.3
scikit-learn==1.2.2
joblib==1.2.0
sqlalchemy>=2.0.30
mysql-connector-python
